html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.GameSence_Playing {
    border: 1px solid forestgreen;
    border-radius: 6px;
    max-height: 600px;
    overflow: auto;
    text-align: center;
}

.GameSence_Playing_Arrpeople {
    width: fit-content;
    display: inline-block;
    padding: 6px;
    margin: 10px;
}

.GameSence_Playing_Arrpeople img {
    width: 60px;
    cursor: pointer;
}
.GameSence_Playing_Timeout{
    position: fixed;
    padding: auto;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}
.GameSence_Playing_OneShow {
    position: absolute;
    border-radius: 6px;
    border: 5px solid green;
    background-color: whitesmoke;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-70%);
}

.Span_Show_Info_StrickAnwers_Reactdata {
    margin: 5px;
    padding: 5px;
}

.toolSearch {
    max-height: 500px;
    overflow: auto;
}

.img_inSearch {
    width: 60px;
}


/* .gamesence_allcource{

} */

/* .gamesence_allcource_card {
    width: 23%;
    min-width: 300px;
    border: 1px solid green;
    border-radius: 6px;
    padding: 10px;
    margin: 1%;
    display: inline-block;
}

.Insert_lession div {
    border: 1px solid green;
    border-radius: 6px;
}

.Insert_lession textarea {
    width: 80%;
    height: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
}

.Insert_tool div {
    border: 1px solid green;
    border-radius: 6px;
}

.Insert_tool textarea {
    width: 80%;
    height: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
}

#Text_gamedata {
    width: 80%;
    height: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

.manager_create div{
    border: 1px solid green;
    border-radius: 6px;
    padding: 10px;

} */ 

